:root {
  --color-primary: #6f6af8;
  --color-primary-light: hsl(242, 91%, 69%, 18%);
  --color-primary-variant: #5854c7;
  --color-red: #da0f3f;
  --color-red-light: hsl(346, 87%, 46%, 15%);
  --color-green: #00c476;
  --color-green-light: hsl(156, 100%, 38%, 15%);
  --color-gray-900: #1e1e66;
  --color-gray-700: #2d2b7c;
  --color-gray-300: rgba(242, 242, 254, 0.3);
  --color-gray-200: rgba(242, 242, 254, 0.7);
  --color-white: #f2f2fe;
  --color-bg: #0f0f3e;

  --transition: all 300ms ease;

  --container-width-lg: 74%;
  --container-width-md: 88%;
  --form-width: 40%;

  --card-border-radius-1: 0.3rem;
  --card-border-radius-2: 0.5rem;
  --card-border-radius-3: 0.8rem;
  --card-border-radius-4: 2rem;
  --card-border-radius-5: 5rem;
}

/* ======================== General ===================== */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  appearance: none;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.6;
  color: var(--color-gray-200);
  overflow-x: hidden;
  background: var(--color-bg);
  font-size: 0.9rem;
}

.container {
  width: var(--container-width-lg);
  max-width: 1800px;
  margin-inline: auto;
}

section {
  margin-top: 3rem;
  width: 100vw;
}

h1,h2,h3,h4,h5 {
  color: var(--color-white);
  line-height: 1.3;
}

h1 {
  font-size: 3rem;
  margin: 1rem 0;
}

h2 {
  font-size: 1.7rem;
  margin: 1rem 0;
}

h3 {
  font-size: 1.1rem;
  margin: 0.8rem 0 0.5rem;
}

h4 {
  font-size: 1rem;
}

a{
  color: var(--color-white);
  transition: var(--transition);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* ======================== NAV ====================== */
header {
  position: fixed;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  box-shadow: 0 0 10px #000;
  background: rgba(0,0,0,0.5);
  top: 0;
}
#chk1 {
  display: none;
}

i {
  color: #fff;
  cursor: pointer;
}

header .logo {
  flex: 1;
  color: #fff;
  margin-left: 50px;
  text-transform: uppercase;
  font-size: 20px;
}

header .search-box {
  flex: 1;
  position: relative;
}
.search-box input {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  background: #f2f2f2;
  border-radius: 30px;
  color: gray;
  font-size: 16px;
  text-align: center;
}

.search-box button {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  transform: scale(0.9);
  background: blue;
}

header ul {
  flex: 2;
  display: flex;
  justify-content: space-evenly;
  
}

header ul li {
  list-style: none;
}

header ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  padding: 10px 15px;
}

header ul li a:hover {
  border-bottom: 2px solid cadetblue;
}

header .menu {
  font-size: 2.5em;
  display: none;
}

.login-btns {
  font-weight: 600;
  border: none;
  background-color: rgb(0,167,255);
  align-items: center;
  border-radius: 8px;
}

.register-btns {
  font-weight: 600;
  border: none;
  background-color: rgb(165,94,250);
  align-items: center;
  border-radius: 8px;
}


/* =================== End Of Nav Bar ================ */
/* =========================== CATEGORY BUTTON ======================== */
.category_button {
  background: var(--color-primary-light);
  color: var(--color-primary);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: var(--card-border-radius-2);
  font-weight: 600;
  font-size: 0.8rem;
  text-align: center;
}

.category_button:hover {
  color: var(--color-white);
  
}

/* ================ General Post ==================== */
.post_thumbnail {
  border-radius: var(--card-border-radius-5);
  border: 1rem solid var(--color-gray-900);
  overflow: hidden;
  margin-bottom: 1.6rem;
}

.post:hover .post_thumbnail img {
  filter: saturate(0);
  transition: filter 500ms ease;
  
}

.post_author {
  display: flex;
  gap: 1rem;
  margin-top: 1.2rem;
}

.post_author-avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: var(--card-border-radius-3);
  overflow: hidden;
}

/* =============== FEATURED ============ */
.featured {
  margin-top: 8rem;
}

.featured_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}

.featured .post_thumbnail {
  height: fit-content;
}

/* ================= Posts =============== */

.posts-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

}

/* ================ Category Bittob ================= */

.category_buttons {
  padding: 4rem 0;
  border-top: 2px solid var(--color-gray-900);
  border-bottom: 2px solid var(--color-gray-900);
}

.category_buttons-containers {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

/*-- ============ Footer ====================*/

footer {
  background: var(--color-gray-900);
  padding: 5rem 0 0;
  box-shadow: inset 0 1.5rem 1.5rem rgba(0, 0, 0, 0.2);
}

.footer_socials {
  margin-inline: auto;
  width: fit-content;
  margin-bottom: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.2rem;
}

.footer_socials a {
  background: var(--color-bg);
  border-radius: 50%;
  width: 2.3rem;
  height: 2.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_socials a:hover {
  background: var(--color-white);
  color: var(--color-bg);
}

.footer_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  
}

footer h4 {
  color: var(--color-white);
  margin-bottom: 0.7rem;
}

footer ul li {
  padding: 0.4rem 0;
}

footer ul a {
  opacity: 0.75;
}

footer ul a:hover {
  letter-spacing: 0.2rem;
  opacity: 1;
}

.footer_copyright {
  text-align: center;
  padding: 1.5rem 0;
  border-top: 2px solid var(--color-bg);
  margin-top: 4rem;
}

.post_info2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.geners {
  background: var(--color-primary-light);
  color: var(--color-primary);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: var(--card-border-radius-2);
  font-weight: 600;
  font-size: 0.8rem;
  text-align: center;
}

/*================Media=================*/

@media (max-width: 1000px) {

  
  /*=============== Nav ===============*/
  header .logo {
    font-size: 40px;
  }
  
  .search-box button {
    position: absolute;
  }
  
  header ul{
    position: fixed;
    top: 100px;
    right: -100%;
    background: rgba(0,0.0,0.5);
    height: calc(50vh - 50px);
    width: 50%;
    flex-direction: column;
    align-items: center;
    transition: right 0.5s linear;
  }
  
  header .menu{
    display: block;
    width: 100px;
    text-align: center;
  }
  #chk1:checked ~ ul {
    right: 0;
  }
  .featured_container {
    gap: 3rem;
  }
  .posts-container {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
  
  .footer_container {
    grid-template-columns: 1fr 1fr;
    text-align: center;
    gap: 3rem;
    
  }
}

@media (max-width:600px) {
  header .logo {
    font-size: 10px;
    margin-left: 8px;
    
  
  }
  section {
    margin-top: 2rem;
  }
  h1 {
    font-size: 2rem;
  }
  .featured {
    margin-top: 6rem;
  }
  .featured_container {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .posts-container {
    grid-template-columns: 1fr;
  }
  .category_buttons-containers {
    grid-template-columns: 1fr 1fr;
  }
  .footer_container {
    text-align: center;
    gap: 2rem;
  }
}

